# Data Manipulation and Numerical Analysis
pandas
numpy
scipy

# Machine Learning and Modeling
scikit-learn
lightgbm
optuna
ray[tune]
hyperopt
tensorflow

# Data Visualization
matplotlib
seaborn
plotly

# Utility and Environment
jupyter
jupyterlab
joblib
openpyxl